*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #108b52;
    color: hsl(0, 17%, 87%);
    padding: 10px 20px;
    text-align: center;
}
.homeicon1{
    width: 2.5rem;
}
.homeicon2{
    width: 2rem;
}
.homeicon3{
    width: 1.4rem;
}
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 7px;
}
input{
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}








.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}
.div1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
}
#main-image{
    padding-left: 11rem;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr ));
    gap: 20px;
    justify-content: center;
    
}

.product {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;

}
.product h3{
    padding-bottom: .5rem;
    padding-top: .5rem;
    font-family: serif;
}
.product img {
    max-width: 100%;
    height: auto;
}
#products{
    padding-left: 1rem;
    padding-top: 1rem;
}

.price {
    font-weight: bold;
    color: #27ae60; 
}

button {
    background-color: #477959; 
    color: #050505;
    padding: 10px;
    border: none;
    cursor: pointer;
}

